<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog Posts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" media="all">
    <link href="css/site.css" rel="stylesheet" media="all">
    <link href="css/index.css" rel="stylesheet" media="all">
</head>
<body>
    <header role="banner" class="clearfix">
      <h1 class="brand">boz.io</h1>
      <nav role="navigation">
        <a class="links" href="https://github.com/andrewmagill">github</a>
      </nav>
    </header>
    
    <div class="wrap">
        <main role="main" class="posts">
          $POSTS
        </main>
    </div>

    <footer role="contentinfo">
    </footer>

    <script src="js/googlefont.js"/>
</body>
</html>
