<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog Posts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" media="all">
    <link href="css/site.css" rel="stylesheet" media="all">
    <link href="css/post.css" rel="stylesheet" media="all">
</head>
<body>
    <header role="banner">
        <h1>Blog Posts</h1>
        <nav role="navigation">

        </nav>
    </header>

    <div class="wrap">
        <main role="main">
          $POSTS
        </main>
    </div>

    <footer role="contentinfo">
    </footer>

</body>
</html>
