<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$TITLE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" media="all">
    <link href="css/site.css" rel="stylesheet" media="all">
    <link href="css/post.css" rel="stylesheet" media="all">
</head>
<body>
    <header role="banner">
        <h1>$TITLE</h1>
        <nav role="navigation">

        </nav>
    </header>

    <div class="wrap">
        <main role="main">
          $BODY
        </main>
    </div>

    <footer role="contentinfo">
        <small>Posted on <time datetime="$POSTED_DATE">$POSTED_DATE</time></small>
        <small>Last modified <time datetime="$EDIT_DATE">$EDIT_DATE</time></small>
    </footer>

</body>
</html>
