<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$TITLE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet" media="all">
    <link href="css/site.css" rel="stylesheet" media="all">
    <link href="css/post.css" rel="stylesheet" media="all">
</head>
<body>
  <header role="banner">
      <nav role="navigation">
        <a href="/">&#8672;<span>home</span></a>
      </nav>
      <h1 class="title">$TITLE</h1>
      <small class="posted-date">Posted <time datetime="$POSTED_DATE">$POSTED_DATE</time></small>
  </header>

  <div class="wrap">
      <main role="main">
        $BODY
      </main>
  </div>

  <footer role="contentinfo">
      <small>Last modified <time datetime="$EDIT_DATE">$EDIT_DATE</time></small>
  </footer>
</body>
</html>
